body, html {
    font-size: 16px;
}
.makeup-header{
    position: fixed;
    width: 100%;
    z-index: 100;
}
.makeup-footer{
}

.clear-fix:after {
     content: "&nbsp;";
     display: block;
     clear: both;
     visibility: hidden;
     height: 0;
     line-height: 0;
 }

.makeup-button-back{
    background-color: inherit;
    height: 100%;
    display: block;
    float: left;
    padding: 6px 20px;
    margin:-6px;
    color: #fff;
}
.makeup-button-back:hover {
    background-color: #3F4965;
    color: #fff;
    margin:-6px;
}

.makeup-navigation {
    background-color: #30384D;
    color: #f1f1f1;
    padding: 6px;
    line-height: 40px;
    vertical-align: middle;
    clear: both;
}
.makeup-navigation .control{
    float: right;
}
.makeup-navigation .control button{
    width: 40px;
    height: 40px;
}

.makeup-designer{
    padding-top: 52px;
    position: relative;
    width: 100%;
}
.makeup-block{
    width: 100%;
    float: left;
    position: relative;
}

.makeup-view-option{
    top: 10px;
    position: absolute;
    right: 10px;
}

.makeup-view-option button{
    font-size: 12px;
    display: block;
    float: left;
    border-radius: 0px;
}
.makeup-view-option button:first-child{
    border-radius: 3px 0px 0px  3px;
}
.makeup-view-option button:last-child{
    border-radius: 0px 3px 3px  0px;
}

.makeup-change-position{

}
.makeup-edit{

}
.makeup-option{

}
.makeup-remove{

}

.makeup-add{
    float: left;
    width: 100%;
    position: relative;
    height: 0px;
    border-bottom: dashed 1px rgba(42, 0, 25, 0.6);
    z-index: 100;
}
.makeup-add-button_area{
    text-align: center;
    position: absolute;
    margin-top: -12px;
    display: inline-block;
    height: 30px;
    width: 100%;
}
.makeup-add-button_area button{
    width: 60px;
    height: 24px;
    margin: 0 auto;
    display: none;
    padding: 0px;
    border-radius: 50px;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;

    /*background-color: transparent !important;*/
}
.makeup-add-button_area:hover button{
    display: block;
}
